<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Databladssökaren</title>
</head>

<body>
    <h1>Databladssökaren</h1>

    <form action="/search/" target="_blank" method="get">

        <label for="query">Sök:</label><br>
        <input type="text" id="query" name="query" required><br><br>
        <input type="submit" value="Sök">
    </form>

</body>

</html>