<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Databladssökaren</title>

    <script src="/static/filter.js"></script>
</head>

<body>
    <h1>Databladssökaren</h1>

    <form action="/search/" target="_blank" method="get" autocomplete="off">
        <label for="query">Sök:</label><br>
        <input type="search" id="query" name="query" required><br><br>
        <input type="submit" value="Sök">
    </form>

    <br>
    <section id="suggestions">
        {% for local_document in local_documents %}
        <div>
            <a href="/search/?query={{local_document}}">{{local_document}}</a>
            <br>
        </div>
        {% endfor %}
    </section>


</body>

</html>